.videoloop {
  &__video {
    max-width: 100%;
  }
  &.is-flex &__inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (min-width: @device-width-medium) {
      flex-direction: row;
      .component__widget,
      .videoloop__header {
        width: 50%;
      }
    }
  }

  &.justify-content-center &__inner {
    justify-content: center;
  }
  &.align-items-center &__inner {
    align-items: center;
  }
  &.is-flex-reverse &__inner {
    flex-direction: column-reverse;
    @media (min-width: @device-width-medium) {
      flex-direction: row-reverse;
    }
  }  
}
